@mixin fontConfig($font-size, $font-weight) {
	font-size: $font-size;
	font-weight: $font-weight;
}

@mixin extendedFontConfig($font-family, $font-style, $font-color, $font-size, $font-weight) {
	font-family: $font-family, sans-serif;
	font-style: $font-style;
	color: $font-color;
	font-size: $font-size;
	font-weight: $font-weight;
}
