$headerBackgroundColor: rgba(0, 0, 0, .35);
$headerNavbarHoverColor: rgba(0, 0, 0, .7);

$mainBackgroundColor: rgba(0, 0, 0, .15);

$blackColor: rgb(0, 0, 0);
$errorRed: rgb(255, 10, 10);
$statusGreen: rgb(10, 180, 10);

$whiteColor: rgb(255, 255, 255);
$whiteColorOp: rgba(255, 255, 255, .75);

$borderColorWhite: rgba(255, 255, 255, .5);
$borderColorWhiteOp: rgba(255, 255, 255, .16);

$yellowColor: rgb(255, 255, 10);
$yellowWarning: rgb(200, 200, 0);

$greenColor: rgb(0, 255, 0);

$mainColorYellow: rgba(220, 220, 0, .9);
$mainColorBlue: rgba(0, 100, 150, .9);
$mainColorGreen: rgba(0, 150, 100, .9);

$cardBackgroundColor: rgba(255, 255, 50, .5);
$cardBorderColor: rgba(200, 200, 200, .5);

$cardButtonColorF: rgba(100, 0, 75, .8);
$cardButtonColorS: rgba(75, 0, 100, .8);
$cardButtonHoverColor: rgb(87, 0, 87, .8);

$authFormPink: rgba(180, 30, 100, .9);
$authFormPurple: rgba(140, 30, 140, .9);
$authFormBlue: rgba(100, 30, 180, .9);

$searchPink: rgba(100, 0, 75, .8);
$searchBlue: rgba(75, 0, 100, .8);

$mainPlaceholderColor: rgba(0, 0, 0, .66)