@use "../../_resources/tokens/colors" as color;
@use "../../_resources/tokens/variables" as var;

@use "../../_resources/mixins/display" as display;
@use "../../_resources/mixins/size" as size;
@use "../../_resources/mixins/font" as font;
@use "../../_resources/mixins/media" as media;

.footer {
	@include display.flexContainer(row, nowrap, center, center);
	@include size.objectSize(100%, fit-content);
	background-image: url("/app/static/img/header.png");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	bottom: 0;

	.footer__background {
		@include display.flexContainer(row, nowrap, center, center);
		@include size.objectSize(100%, 100%);
		background: linear-gradient(to bottom right, color.$mainColorYellow, color.$mainColorBlue, color.$mainColorGreen);

		.footer__container {
			@include display.flexContainer(row, nowrap, space-between, center);
			@include size.objectSize(75%, 100%);
			background-color: color.$mainBackgroundColor;

			@include media.mediaQuery(max-width, 1281px) {
				width: 80%;
			}

			@include media.mediaQuery(max-width, 961px) {
				width: 90%;
			}

			@include media.mediaQuery(max-width, 811px) {
				width: 95%;
			}

			.footer__contactbar {
				@include display.flexContainer(column, nowrap, flex-start, flex-start);
				@include size.objectSize(fit-content, 100%);
				padding: calc(1vw + 1vh);

				.footer__contactbar-item {
					@include display.flexContainer(row, nowrap, center, center);
					@include size.objectSize(fit-content, fit-content);
					margin-bottom: calc(.1vw + .1vh);

					img {
						@include size.proportionalObjectSize(calc(1.5vw + 1.5vh), 1);
						margin-right: calc(.5vw + .5vh);

						@include media.mediaQuery(max-width, 811px) {
							width: calc(3vw + 3vh);
						}
					}

					a, p {
						@include font.extendedFontConfig('RoundedMplusRegular', normal, color.$whiteColor, calc(.9vw + .9vh), 400);

						@include media.mediaQuery(max-width, 1025px) {
							font-size: calc(1.8vw + 1.8vh);
						}
					}
				}
			}
		}
	}
}
